@import "layouts/bootstrap-grid";

@import "components/footer";
@import "components/navigation";
@import "components/showcase";
@import "components/section";
@import "components/buttons";


@import "modules/colour";
@import "modules/typography";
@import "modules/global";

.row{
    width: 90vw !important;
    margin: 0 auto !important;
    max-width: 1500px !important;
}