.header-container{
    background-color: rgb(8, 7, 7);
    width: 100vw;
    height: auto;
    z-index: 999999999;
    position: relative;
    text-align: center;
}

.header-row{
    padding: 10px 0 !important;
}

*{
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;    
}

.navigation {
    ul{
        list-style: none;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity ease-in-out 300ms;
    }
    .navigation-menu{
        text-transform: uppercase;
        font-weight: 700;
    }
}


.navigation.active {
    position: relative;
    ul{
        display: flex;
        opacity: 1;
        flex-direction: column;
        flex: 1 1 100%;
        color: white;
        position: absolute;
        top: 10px;
        left: -5vw;
        width: 100vw;
        background-color: rgb(8, 7, 7);
        height: 70vh;
        align-items: space-around;
        justify-content: space-around;
        
    }
}



.icon{
    height: 1rem;
    width: 2rem;
    display: inline-flex  !important;
    justify-content: center;
    align-items: center;
    color: white;
}

.handler{
    height: auto;
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    span{
        text-transform: uppercase;
        font-weight: 700;
        margin-right: 10px;
    }
}



.search-container{
    height: auto;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    

    form{
        display: flex;
        border: 1px white solid;
        background-color: rgb(248, 248, 248);
        border-radius: 5px;
        input{
            padding: 5px !important;
            width: 70%;
            background-color: rgb(248, 248, 248);
            cursor: pointer;
            &:focus, input:focus{
                outline: none;
            }
        }
    }
    .search-icon{
        margin: 0 5px;
        color: rgb(8, 7, 7);
        font-size: 1.1rem;
    }
    .search-btn{
        border-radius: 5px;
    }
    button{
        background-color: inherit;
        cursor: pointer;
    }
}


.navigation-container{
    width: 100vw;
}


.logo{
    display: flex;
    justify-content: center;
    .logo-image{
        height: 60px;
    }
}





.nav-toggle{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    //margin: 0 10px;
    position: relative;
    
    span{
        width: 60%;
        height: 3px;
        display: block;
        position: absolute;
        top: 8px;
        border-radius: 3px;
        background-color: white;
        &:nth-child(1){
            margin-top: 0;
            transition: 100ms;
            
        }
        &:nth-child(2){
            margin-top: 8px;
        }
        &:nth-child(3){
            margin-top: 16px;
            transition: 100ms;                

        }
    }
}

.handler.active{
    .nav-toggle{
        
        span{
            background-color: white;
            top: 8px;
            &:nth-child(1){
                margin-top: 8px;
                transition: margin-top 0.5s ease-in-out 300ms, transform 300ms ease-in-out 1s;
                transform: rotate(45deg);
            }
            &:nth-child(2){
                margin-top: 8px;
                visibility: hidden;
                transition: visibility 0.5s ease-in-out 300ms;
            }
            &:nth-child(3){
                margin-top: 8px;
                transition: margin-top 0.5s ease-in-out 300ms, transform 300ms ease-in-out 1s;
                transform: rotate(-45deg);

            }
        }
    }
}

.social-media{
    margin: 10px 0;
}


@media (min-width: 992px) {

    .navigation{
        height: 70px;
        width: 100%;
        display: flex !important;
        align-items: center;
        justify-content: flex-end;
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 1px;

        .navigation-menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            width: 90%;
            color: white;
            text-transform: uppercase;
            opacity: 1;
            
            li{
                font-weight: 700;
                transition: 0ms;
                font-size: 1rem;
            }
        }
    }

    .logo{
        justify-content: flex-start;
        .logo-image{
            height: 65px;
            width: 200px;
        }
    }
    .info-container{
        width: 100%;
        display:flex !important;
        justify-content: flex-end;
        align-items: center;
        
        .btn{
            background-color: inherit;
            margin: 0 30px;
            border-radius: 10px;
            color: white;
            font-weight: 800px;
            text-transform: uppercase;
            height: 40px;
            width: 100px;
            display: flex !important;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 0.9rem;
            
            &:hover{
                background-color: #bd4f06;
                cursor: pointer;
            }
            
        }
        .donate-btn{
            background-color:#cf5402;
        }
        .subscribe-btn{
            background-color:#cf5402;
        }
        .contact-btn{
            background-color:#cf5402; 
        }
    }

    .search-container{
        justify-content: flex-end;
        
        form{
            display: flex;
            border: 1px white solid;
            background-color: rgb(248, 248, 248);
            border-radius: 5px;
            width: 80%;

            input{
                padding: 5px !important;
                background-color: rgb(248, 248, 248);
                border-radius: 5px;
            }
        }
        .search-icon{
            margin: 0 5px;
            color: rgb(8, 7, 7);
            font-size: 1.1rem;
        }
    }

    .social-media{
        display: flex;
        align-content: center;
        .icon-container{
            display: flex;
            justify-content: center;
            align-content: center;
            width: 200px;
            i{
                margin: auto 5px;
                font-size: 1.2rem;
    
            }
        }
        
    
    }

    .navigation-container{
        display: flex;
        align-items: center;
        flex: 0 0 1;
        width:100%;
    
    }

    .header-container{
        height: auto;
    }
    

}



/* 
//MOBILE FIRST DESIGN
.logo{
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.navigation{
    display: flex;
    align-items: center;
    z-index: 99999;
    position: relative;
    padding: 5px 5px;
    background-color: rgba($color: #fff, $alpha: 0.1);
    .navigation-menu{
        display: none;
    }
    .logo{
        margin-right: auto;
    }
    .toggle-container{
        width: 35px;
        height: 35px;
        position: relative;
        border-radius: 5px;
        .nav-toggle{
            height: inherit;
            display: flex;
            justify-content: center;
            width: 100%;
            position: relative;
            
            span{
                width: 60%;
                height: 3px;
                display: block;
                position: absolute;
                top: 10px;
                border-radius: 3px;
                background-color: white;
                &:nth-child(1){
                    margin-top: 0;
                    transition:  0.2s;
                    
                }
                &:nth-child(2){
                    margin-top: 7px;
                }
                &:nth-child(3){
                    margin-top: 14px;
                    transition:  0.2s;                    

                }
            }
        }
    }
}

.toggle-container.active{
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 3px;
    .nav-toggle{
        height: inherit;
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        
        span{
            background-color: white;

            top: 10px;
            &:nth-child(1){
                margin-top: 7px;
                transition: margin-top 0.5s ease-in-out 0.5s, transform 0.6s ease-in-out 1s;
                transform: rotate(45deg);
            }
            &:nth-child(2){
                margin-top: 7px;
                visibility: hidden;
                transition: visibility 0.5s ease-in-out 0.5s;
            }
            &:nth-child(3){
                margin-top: 7px;
                transition: margin-top 0.5s ease-in-out 0.5s, transform 0.6s ease-in-out 1s;
                transform: rotate(-45deg);

            }
        }
    }
    
}

.navigation.active{    
    .menu-container{
        font-size: 1rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        height: 100vh;
        background-color: rgba($color: #204dc9, $alpha: 0.97);
        top: 0;
        left:0;
        .navigation-menu{
            display: flex;
            flex-direction: column;
            height: 80vh;
            max-height: 900px;
            width: 100vw;
            align-items: center;
            justify-content: space-between;
            li{
                width: 100%;
                flex: 1;
                display: flex;
                 a{
                    color: white;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    justify-content: center;
                    text-transform: uppercase;
                    &:hover{
                        color: red;
                    }
                    &:active{
                        color: darkblue;
                    }
    
                  }
            }
            
        }
        
    }
}
*/
